
{{!-- render each blog post  --}}
{{#each editBlogs}}
<div class="container d-flex flex-column align-items-center justify-content-center">
<h2> Blog Post Editor</h2>
<div class="add-blog-container container card">
        <div class="mb-1 p-1">
            <label for="post-title" class="form-label">Edit Title:</label>
            <textarea class="form-control" placeholder="Title of the blog" id="edit-title" rows="1">{{title}}</textarea>
        </div>
            <label for="post-content" class="form-label">Edit Contents:</label>
        <div class="mb-3 p-1 d-flex align-items-end flex-column">
            <textarea class="form-control" placeholder="Contents of the Blog" id="edit-content" rows="10">{{contents}}</textarea>
            <button value = {{id}} id = "saveButton" class="btn btn-sm btn-outline-secondary " type="button"><i class='fas fa-plus' style='color:#ffc107'></i> Save Changes</button>
        </div>
    </div>
</div>
{{/each}}

<script src="/js/blogedit.js"></script>
