{{#each editBlogs}}
<div class="container d-flex flex-column align-items-center">
            <div class="d-flex flex-column align-items-end">
                <textarea placeholder="Edit Title" class="textarea-edit title-text-area-edit"name="new-comment-text" id="" cols="" rows="1">{{title}}</textarea>
                <textarea placeholder="Edit Blog Post" class="textarea-edit content-text-area-edit"name="new-comment-text" id="" cols="" rows="3">{{contents}}</textarea>
                <button class="btn btn-sm btn-outline-secondary " type="button"><i class='fas fa-plus' style='color:#ffc107'></i> Save Changes</button>
            </div>
</div>

{{/each}}