  <!-- HTML TEMPLATE FOR SPECIFIC POST   -->
    <!-- blog section  -->
    <div class="container">
      <div class="blog-post">
        <div class="card blog-contents-card">
          <h2>Post Title</h2>
          <h5>Created by: <span class="span-username">[Username]</span></h5>
          <p class="blog-text-contents">Susdfsdfsf sdfsfsfsdfsdfsdfsdfsdfsdf dfsfsfsdfsdfsdfsdfsdfsdf sdfsdfsdfsdfgsdgcvbcv bdfgdfgsdfsdfsg sdfgsdfsdfn sdfsdfsdfsdfgsdgcvbcv bdfgdfgsdfsdfsg sdfgsdfsdfn d.</p>
          <h5 class="date" style="text-align:right;"><span class="span-date">[date]</span></h5>
        </div>
        <!-- comment container -->
        <div class="d-flex flex-wrap align-items-end justify-content-between">
            <!-- render comment section  -->
            <div class="comment">
            <div class="sample-comment">
                <p class="comment-contents"><span class="span-username">[Username]</span><br>comment contents here <br><span class="span-date">[Date]</span></p>
            </div>
            <div class="sample-comment">
                <p class="comment-contents"><span class="span-username">[Username]</span><br>Sunt  erud exercitation ulinmolelamcunt  erud exercitation ulinmolelamcunt  erud exercitation ulinmolelamcooount  erud exercitation ulinmolelamco. <br><span class="span-date">[date]</span></p>
            </div>
            </div>
            <!-- add comment section  -->
            <div class="add-comment d-flex flex-column align-items-end">
                <textarea placeholder="Add a comment to this blog post" class="textarea-custom"name="new-comment-text" id="" cols="" rows="3"></textarea>
                <button class="btn btn-sm btn-outline-secondary " type="button"><i class='fas fa-plus' style='color:#ffc107'></i> Comment</button>
            </div>
        </div>
    </div>
    