* {
  box-sizing: border-box;
}
/* Add a gray background color with some padding */
body {
  font-family: Arial;
  padding: 20px;
  background: #f1f1f1;
}

/* Header/Blog Title */
.header {
  padding: 15px;
  font-size: 40px;
  text-align: center;
  background: white;
  border-radius: 10px;
  box-shadow:	0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
}

.header p {
  font-size: 20px;
  
}
.dashboard-header{
  margin: 10px;
  padding: 10px;

}
.btn:hover {
  color:#ffc107;
}
/* Add a card effect for articles */
.card {
   background-color: white;
   padding: 20px;
   /* margin-top: 20px; */
  }

.card-custom:hover{
  background-color: #ffc107;
}  

/* blog post section */
.blog-contents-card {
border-radius: 10px;
width: 100%;
border-radius: 10px;
box-shadow:	0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);

}
.blog-post{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.blog-text-contents {
  font-size: 1.25em;
  margin: 10px;
  padding: 5px;
  
}
/* comment section */
.comment-contents {
	/* layout */
	position: relative;
	width: 26em;

	
	/* looks */
	background-color: #ffc107;
	padding: 1.125em 1.5em;
	font-size: 1em;
  border-radius: 10px;
  box-shadow:	0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
}

.comment-contents::before {
	/* layout */
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	bottom: 100%;
  left: 1.5em;  
	border: .75rem solid transparent;
	border-top: none;
	/* looks */
	border-bottom-color: #ffc107;
	filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, .1));
}

.comment, .sample-comment {
margin-top: 5px;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
  border-radius: 10px;
}
.add-comment {
  background-color: #fff;
	font-size: 1em;
  border-radius: 10px;
  box-shadow:	0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
  margin: 10px;
}
.add-comment .btn {
  margin: 5px;
}

.textarea-custom {
  width: 26em;
  margin: 15px;
  border-radius: 10px;
  padding: 1.125em 1.5em;
  resize: none;
  
}

.span-date {
  font-weight: bold;
}
.span-username{
  font-weight: bold;
}
span:hover{
  color: rgb(71, 71, 231);
}
.viewicon:hover{
  color: rgb(71, 71, 231);
  cursor: pointer;
}
.delete-icon:hover{
  color: red;
  cursor: pointer;
}
.edit-icon:hover{
  color: green;
  cursor: pointer;
}

